.container {
  position: relative;
  min-height: 200px;
}

/* Column Widths */
.mat-column-id, .mat-column-action, .mat-column-year {
  max-width: 40px;
}

.mat-column-year {
  max-width: 64px;
}

.mat-column-artist {
  max-width: 120px;
}

.mat-column-name {
  max-width: 100%;
}
