.search {
  padding: 16px 16px 0 16px;
}

.container {
  position: relative;
  min-height: 200px;
}

/* Column Widths */
.mat-column-id,
.mat-column-action {
  max-width: 64px;
}

.mat-column-name {
  width: 100%;
  padding: 0 8px;
}
