<h1 mat-dialog-title>ALTERAR SENHA</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <input matInput placeholder="Senha atual" formControlName="old_password" [type]="hide.old ? 'password' : 'text'">
      <button mat-icon-button matSuffix
        (click)="hide.old = !hide.old"
        [attr.aria-label]="'Ocultar/mostrar senha'"
        [attr.aria-pressed]="hide.old"
      >
        <mat-icon>{{hide.old ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngFor="let validation of validations.old_password" [ngxErrors]="form.get('old_password')">
        <span [ngxError]="validation">{{ errors.old_password[validation] }}</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Nova senha" formControlName="password" [type]="hide.new ? 'password' : 'text'">
      <button mat-icon-button matSuffix
        (click)="hide.new = !hide.new"
        [attr.aria-label]="'Ocultar/mostrar senha'"
        [attr.aria-pressed]="hide.new"
      >
        <mat-icon>{{hide.new ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngFor="let validation of validations.password" [ngxErrors]="form.get('password')">
        <span [ngxError]="validation">{{ errors.password[validation] }}</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Confirme a nova senha" formControlName="password_confirmation" [type]="hide.new ? 'password' : 'text'">
      <button mat-icon-button matSuffix
        (click)="hide.new = !hide.new"
        [attr.aria-label]="'Ocultar/mostrar senha'"
        [attr.aria-pressed]="hide.new"
      >
        <mat-icon>{{hide.new ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error
        *ngFor="let validation of validations.password_confirmation"
        [ngxErrors]="form.get('password_confirmation')"
      >
        <span [ngxError]="validation">{{ errors.password_confirmation[validation] }}</span>
      </mat-error>
    </mat-form-field>
    <mat-error *ngFor="let validation of validations.form" [ngxErrors]="form">
      <span [ngxError]="validation">{{ errors.form[validation] }}</span>
    </mat-error>
  </form>
</div>
<div mat-dialog-actions>
  <div class="container-button">
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button
      mat-raised-button color="primary"
      [disabled]="form.invalid || loading"
      [class.spinner]="loading"
      (click)="changePassword()"
    >
    Salvar
  </button>
  </div>
</div>

