@import "~@angular/material/theming";
@import '/src/theme.scss';

$sidebar-color: #E5E5E5;
$sidebar-hover: #D5D5D5;
$link-background: mat-color(mat-palette($mat-indigo, 700, 900, A100));

.body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .header {
    z-index: 10;
    text-align: center;
    display: flex;
    align-items: center;

    .btn-menu {
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: $query-small) {
        display: none;
      }
    }

    .space {
      flex: 1;
    }

    span > a {
      display: flex;
      align-items: center;
    }

    @media screen and (max-width: $query-small) {
      text-align: center;
    }
  }

  .container {
    width: 100%;
    max-height: calc(100vh - 64px);
    flex: 1;
    display: flex;
    z-index: 9;

    @media screen and (max-width: $query-small) {
      max-height: calc(100vh - 56px);
      flex-direction: column-reverse;
    }
  }
}

.sidebar {
  background: $sidebar-color;
  width: 250px;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;

  @media screen and (max-width: $query-small) {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    background-color: mat-color($my-app-primary);
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: $sidebar-color;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px $sidebar-color;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px mat-color($my-app-primary);
    border: solid 2px transparent;
    border-radius: 10px;
  }

  h4{
    margin-top: 0;
    margin-bottom: 20px;
  }

  a{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 30px;
    box-sizing: border-box;
    transition: 0.5s;
    color: #333;

    @media screen and (max-width: $query-small) {
      height: 100%;
      flex: 1;
      padding: 0 12px;
      justify-content: center;
      color: #fff;

      span {
        display: none;
      }
    }

    &:hover {
      background: $sidebar-hover;

      @media screen and (max-width: $query-small) {
        background: $link-background;
      }
    }

    &.active {
      background: darken($sidebar-hover, 5%);

      @media screen and (max-width: $query-small) {
        background: darken($link-background, 7%);
      }
    }

    i {
      padding: 0 8px;
    }
  }
}

#check{
  display: none;
}

@media screen and (min-width: $query-small) {
  #check{
    display: none;

    &:checked ~ .sidebar{
      width: 80px;
      text-align: center;

      a{
        height: 56px;
        justify-content: center;
        font-size: 20px;
        width: 80px;
        padding: 0;

        span{
          display: none;
        }
      }
    }
  }
}

.content{
  width: 100%;
  flex: 1;
  transition: 0.5s;
  overflow-y: auto;
}
