<input type="checkbox" id="check">

<mat-toolbar color="primary" class="header mat-elevation-z2">
  <button mat-icon-button aria-label="Home" class="btn-menu">
    <label for="check" class="btn-menu">
      <mat-icon>menu</mat-icon>
    </label>
  </button>
  <span routerLink="/">Teste Prático - Frontend</span>
  <span>
    <a>
      <i class="material-icons">chevron_right</i>
      Título
    </a>
  </span>
</mat-toolbar>

<nav class="sidebar">
  <a routerLink="/"><i class="material-icons">dashboard</i><span>Dashboard</span></a>
  <a routerLink="/users"><i class="material-icons">supervisor_account</i><span>Usuários</span></a>
  <a routerLink="/artists"><i class="material-icons">mic</i><span>Artistas</span></a>
  <a routerLink="/albums"><i class="material-icons">library_music</i><span>Álbuns</span></a>
</nav>

<main class="content">
  <router-outlet></router-outlet>
</main>
